.calculator {
    width: 310px;
    height: 460px;
    margin: 50px auto;
    padding: 5px;
    background-color: #d5cfc7;
    border-radius: 10px;
    box-shadow: 7px 10px 23px 0 #7e7e7e;
}

.total {
    height: 70px;
    width: 300px;
    margin: 15px 5px;
    background-color: #c3c2ab;
    text-align: right;
    font-size: 60px;
    border-radius: 10px;
}

.row {
    height: 70px;
    text-align: center;
    margin-left: 12px;
    margin-right: 12px;
    position: relative;
}

.row div {
    cursor: pointer;
    display: inline-block;
    width: 35px;
    height: 35px;
    float: left;
    font-size: 30px;
    padding: 10px;
    margin: 7px;
    border-radius: 10px;
    background-color: #3d3d3d;
    color: #fff;
    border: none;
    box-shadow: 0 10px #222121;
}

.row div:active {
    box-shadow: 0 5px #222121;
    transform: translateY(5px);
}

div.operation-equal {
    position: absolute;
    height: 72px;
    padding-top: 43px;
    right: 10px;
    z-index: 2;
}

div.number-zero {
    width: 104px;
}

div.operation-clear,
div.operation-clear-entry {
    background-color: #a72d45;
    box-shadow: 0 10px #671c2a;
}

div.operation-clear:active,
div.operation-clear-entry:active {
    box-shadow: 0 5px #671c2a;
    transform: translateY(5px);
}